/* Small - sm */
@media screen and (min-width: 576px) {
}
/* Medium - md =====================================*/
@media screen and (min-width: 768px) {
  aside .title h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
aside .title p{
  font-size: 14px;
  margin: 0;
}
}
/* Large - lg ========================================*/
@media screen and (min-width: 992px) {
}
/* Extra Large - xl =================================*/
@media screen and (min-width: 1200px) {
}
/* Double Extra Large - xxl ===========================*/
@media screen and (min-width: 1400px) {
}
